#contents {
	display: inline-block;
	position: fixed;
	max-width: 12%;
	vertical-align: top

}

img.background {
	display: inline-block;
	opacity: 0.5;
}

#intro {
	display: inline-block;
	max-width: 80%;
	padding-left: 12%;
	font-family: "Helvetica";
}

h1, h2 {
	margin: 0 auto;
	padding: 0;
}

ul {
	margin: 0 auto;
	padding-left: 10%;
}

p {
	margin-top: 0;
	padding: 0;
}

img {
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

.hover:hover {
	border: solid thin;
}

@media screen and (max-width: 950px) {
	#contents {
		position: static;
		display: block;
		vertical-align: top;
		width: auto;
		margin-bottom: 1em
	}

	#intro {
		width: auto;
		padding-left: 0%;
	}


	ul {
		margin: 0 auto;
		padding-left: 15%;
	}
}