#contents {
	display: inline-block;
	position: fixed;
	max-width: 12%;
	vertical-align: top
}

#article {
	display: inline-block;
	max-width: 80%;
	padding-left: 12%;
	font-family: "Helvetica";
}

#contact {
	vertical-align: bottom;
	text-align: center;
	font-size: 0.875em;
}

#feedback {
	display:inline-block;
	max-width: 80%;
	padding-left: 12%;
	font-family: "Helvetica";
	
}

form {
	max-width: 30%;
}

form:hover {
	border: solid thin;
}

h1, h2 {
	margin: 0 auto;
	padding: 0;
}

ul {
	margin: 0 auto;
	padding-left: 10%;
}

p {
	margin-top: 0;
	padding: 0;
}

img {
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

.hover:hover {
	border: solid thin;
}

@media screen and (max-width: 1050px) {
	#contents {
		position: static;
		display: block;
		vertical-align: top;
		width: auto;
		margin-bottom: 1em
	}

	#article {
		width: auto;
		padding-left: 0%;
	}


	ul {
		margin: 0 auto;
		padding-left: 15%;
	}
}

@media screen and (max-width: 600px) {
	#contact {
		text-align: left;
	}
}